<ion-view view-title="Sweeps Detail">
    <ion-nav-buttons side="right">
        <!-- <a href="#/tab/sweep/{{sweep.id}}/leaderboard" class="button"><i class="ion-trophy"></i> Leaderboard</a> -->
        <button class="button" ng-click="showActionSheets()"><i class="ion-android-more-horizontal"></i></button>
    </ion-nav-buttons>
    <ion-content class="padding0">
        <div class="item item-body">
            <h2 class="text-center">
                {{ sweep.title }}
            </h2>
            <p class="text-center">
                Benefiting
                <div class="button button-energized display-block">
                    {{ sweep.charity_title }}
                </div>
                <hr/>
                <youtube-video player-width="'100%'" video-id="videoId">
                </youtube-video>
                <hr ng-hide="{{videoId == null}}" />
                <h3 class="text-center">
                    TIME LEFT
                </h3>
                <div class="countdown text-center" flipclock="sweep.end_time" id="countdown">
                </div>
                <p class="text-center">
                    <strong>Raised {{ sweep.fund_raised | currency }} of {{ sweep.fund_goal | currency }} goal</strong>
                </p>
                <h3>
                    Sweep
                </h3>
                <p ng-bind-html="sweep.campaign_info">
                </p>
                <h3>
                    The Fund
                </h3>
                <p ng-bind-html="sweep.charity_info">
                </p>
            </p>
        </div>
    </ion-content>
    <div class="donation-button">
        <a class="button button-energized col-33" ng-click="useCoin(sweep)">Use Coins</a>
        <a class="button button-energized col-33" ng-click="openDonation(sweep)">Contribute</a>
    </div>
</ion-view>