<ion-view view-title="Sweeps Entered" cache-view="false">
  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()" pulling-text="Pull to refresh...">
    </ion-refresher>
    <ion-item class="list card crowd-card" ng-repeat="sweep in sweeps" href="#/tab/leaderboard/{{ sweep.id }}">
      <div class="item item-body">
        <img ng-src="{{ sweep.image_url }}" class="full-image">
        <div class="sweep-info">
          <h3>{{ sweep.charity_title }}</h3>
          <p>{{ sweep.title }}</p>
        </div>
      </div>
    </ion-item>
    <ion-infinite-scroll ng-if="!sweepDone" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    <div ng-show="hasError()" class="item item-text-wrap">
      {{ error }}
    </div>
    <div ng-show="sweeps.length == 0 && sweepDone == true && !hasError()" class="item item-text-wrap">
      Currently you are not contribute to any sweep
    </div>
  </ion-content>
</ion-view>