<ion-view view-title="Profile">
  <ion-content class="padding">
    <div class="list" ng-hide="user == null">
      <div class="item item-thumbnail-left">
        <img src="{{ user.image_url }}" />
        <h2 ng-bind="user.full_name"></h2>
        <p>
          {{ user.email }} {{ follow_flag }}
        </p>
        <button class="button button-positive button-small" ng-click="follow(user.id)">{{ (user.follow_flag == '0') ? "Follow" : "Unfollow" }}</button>
      </div>
      <div class="row" ng-repeat="feed in userfeeds">
        <img class="col-33 img-responsive" ng-repeat="f in feed" ng-src="{{ f.image_url }}">
        </img>
      </div>
    </div>
  </ion-content>
</ion-view>