<ion-view view-title="Feed Comment">
  <ion-content class="padding">
    <ion-item class="list card crowd-card crowd-feed detail">
      <div class="item item-avatar author">
        <img ng-src="{{ feed.user_image_url | avatar: '' }}" />
        <h2>{{ feed.user_name }}</h2>
        <span>{{ feed.created_at | date }}</span>
      </div>
      <div class="item item-body">
        <img class="full-image" ng-src="{{ feed.image_url }}">
      </div>
      <div class="comment item item-avatar" ng-repeat="comment in feed.comments">
        <img ng-src="{{ comment.user_image_url | avatar: '' }}" />
        <h2>{{ comment.user_name }}</h2>
        <p>{{ comment.description }}</p>
        <span class="absolute-top-right" am-time-ago='comment.created_at'></span>
        <a class="ion-trash-a absolute-bottom-right" ng-click="removeComment(comment.id)" ng-show="comment.user_id == current_user.id" href="javascript:;"></a>
      </div>
    </ion-item>
  </ion-content>
  <div class="list fixed-bottom-full-width">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <textarea ng-model="usercomment" placeholder="Comment"></textarea>
      </label>
      <button class="button button-small button-positive" ng-click="sendComment(usercomment)">
        Send
      </button>
    </div>
  </div>
</ion-view>